# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
*.env.*

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# If using local settings file
local_settings.py

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
